/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */
@import "../colors.rasi"

* {
    font:   "Jetbrains Mono Nerd Font 12";
}


/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       800px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      1px solid;
    border-radius:               10px;
    border-color:                @primary;
    cursor:                      "default";
    /* Backgroud Colors */
    background-color:            @inverse-primary;
    /* Backgroud Image */
    //background-image:          url("/path/to/image.png", none);
    /* Simple Linear Gradient */
    //background-image:          linear-gradient(red, orange, pink, purple);
    /* Directional Linear Gradient */
    //background-image:          linear-gradient(to bottom, pink, yellow, magenta);
    /* Angle Linear Gradient */
    //background-image:          linear-gradient(45, cyan, purple, indigo);
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     20px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                @outline-variant;
    background-color:            transparent;
    children:                    [ "inputbar", "message", "mode-switcher", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px 0px 10px 0px;
    padding:                     5px 10px;
    border:                      0px solid;
    border-radius:               10px;
    border-color:                @outline-variant;
    background-color:            @primary;
    text-color:                  @inverse-primary;
    children:                    [ "textbox-prompt-colon", "entry" ];
}

prompt {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}
textbox-prompt-colon {
    enabled:                     true;
    padding:                     5px 0px;
    expand:                      false;
    str:                         " ";
    background-color:            inherit;
    text-color:                  inherit;
}
entry {
    enabled:                     true;
    padding:                     5px 0px;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Search...";
    placeholder-color:           inherit;
}
num-filtered-rows {
    enabled:                     true;
    expand:                      false;
    background-color:            inherit;
    text-color:                  inherit;
}
textbox-num-sep {
    enabled:                     true;
    expand:                      false;
    str:                         "/";
    background-color:            inherit;
    text-color:                  inherit;
}
num-rows {
    enabled:                     true;
    expand:                      false;
    background-color:            inherit;
    text-color:                  inherit;
}
case-indicator {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       8;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     5px;
    margin:                      0px;
    padding:                     10px;
    border:                      0px 2px 2px 2px ;
    border-radius:               0px 0px 10px 10px;
    border-color:                @primary;
    background-color:            transparent;
    text-color:                  white;
    cursor:                      "default";
}
scrollbar {
    handle-width:                5px ;
    handle-color:                @primary;
    border-radius:               10px;
    background-color:            @surface-container-high;
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     6px;
    border:                      0px solid;
    border-radius:               6px;
    border-color:                @outline-variant;
    background-color:            transparent;
    text-color:                  @on-surface;
    cursor:                      pointer;
}

element selected.normal {
    text-color: @inverse-primary;
    background-color: @primary;
}

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        24px;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

/*****----- Mode Switcher -----*****/
mode-switcher{
    enabled:                     true;
    expand:                      false;
    spacing:                     0px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @outline-variant;
    background-color:            transparent;
    text-color:                  @on-surface;
}
button {
    padding:                     10px;
    border:                      0px 0px 2px 0px ;
    border-radius:               10px 10px 0px 0px;
    border-color:                @primary;
    background-color:            @inverse-primary;
    text-color:                  inherit;
    cursor:                      pointer;
}
button selected {
    border:                      2px 2px 0px 2px ;
    border-radius:               10px 10px 0px 0px;
    border-color:                @primary;
    background-color:            @inverse-primary;
    text-color:                  @on-surface;
}

/*****----- Message -----*****/
message {
    enabled:                     true;
    margin:                      0px 0px 10px 0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                @outline-variant;
    background-color:            transparent;
    text-color:                  @on-surface;
}
textbox {
    padding:                     10px;
    border:                      0px solid;
    border-radius:               10px;
    border-color:                @outline-variant;
    background-color:            transparent;
    text-color:                  white;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    highlight:                   none;
    placeholder-color:           @on-surface;
    blink:                       true;
    markup:                      true;
}
error-message {
    padding:                     10px;
    border:                      2px solid;
    border-radius:               10px;
    border-color:                @outline-variant;
    background-color:            @surface;
    text-color:                  @on-surface;
}
